@import url('../css/font.css');

html, body{
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root{

    /* variable for theme color */

    --light: #8ecae6;
    --text-gray: #8d99ae;
    --bg-color: #011627;
    --midnight: #335c67;
    --peach: #ffe5d9;
    --light-sky: #8e9aaf;
    --dark-green: #197278;

    /* variable for gradients color */

    --light-peach: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    --light-purple: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    --gray: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);

    /* variable for font family */
    --Abel: 'Abel', cursive;
    --Anton: 'Anton', cursive;
    --Josefin: 'Josefin', cursive;
    --Lexend: 'Lexend', cursive;
    --Livvic: 'Livvic', cursive;
}

/*---------------Global classes-----------*/

a{
    text-decoration: none;
    color: var(--bg-color);
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
}

button.btn{
    padding: 1rem 3rem;
    font-family: var(--Josefin);
    font-size: 1.5rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}

h1{
    font-family: var(--Josefin);
    font-size: 3rem;
}

h2{
    font-family: var(--Livvic);
    font-size: 2rem;
}

h3{
    font-family: var(--Lexend);
    font-size: 1.5rem;
}

.container{
    
}

span{
    font-family: var(--Abel);
}

/*--------x-------Global classes-----x------*/

/*---------------navbar-----------*/

.nav{
    background: white;
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    font-family: var(--Anton);
    display: block;
}

.nav .nav-menu{
    justify-content: space-between;
}

.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icon{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icon i{
    font-size: 1.4rem;
    color: var(--bg-color);
}

.collapse{
    height: 30rem;
}

.nav .nav-items{
    display: flex;
    margin: 0;
}
.nav .nav-items .nav-link{
    font-size: 1.1rem;
    padding: 1.6rem 1rem;
    position: relative;
    font-family: var(--Abel);
}

.nav .nav-items .nav-link:hover{
    background: var(--midnight);
}

.nav .nav-items .nav-link:hover a{
    color: whitesmoke;
}

.nav .social{
    padding: 1.4rem 0;
}

.nav .social i{
    padding: 0 .2rem;
}

.nav .social i:hover{
    color: var(--light-sky);
}


/*---------x------navbar------x-----*/

/*----------------Viewport lessthsn or equal to 750----------*/

@media only screen and (max-width:750px){
    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
    }

    .nav .toggle-collapse{
        display: initial;
    }
}

/*--------x--------Viewport lessthsn or equal to 750------x----*/

/*-------------main content--------------*/

/*-------------Site Title--------------*/

main .site-title{
    background: url('../assets/title-bg.jfif');
    background-size: cover;
    height: 130vh;
    display: flex;
    justify-content: center;
}

main .site-title .site-background{
    margin-top: 10rem;
    text-align: center;
    color: black;
}

main .site-title h1, h3{
    margin: 2rem;
}

main .site-title .btn{
    margin: 1.8rem;
    background: var(--light);
}

main .site-title .btn:hover{
    background: transparent;
    border: 1px solid white;
    color: white;
}

/*-------x------Site Title----x----------*/

/*-------------Blog content--------------*/

main .blog{
    background: url('../assets/blog-bg6.jpg');
    background-repeat: no;
    background-size: cover;
    background-position: right;
    height: 110vh;
    width: 100%;
}

main .blog .blog-post{
    padding-top: 3rem ;
}

main .blog .blog-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 2rem 2rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

main .blog-content .blog-title{
    padding: .7rem 0;
}

main .blog .blog-content img{
    height: 200px;
}

main .blog-content .btn-blog{
    padding: .7rem 2rem;
    background: var(--text-gray);
    margin: .5rem;
}

main .blog-content .btn-blog:hover{
    background: whitesmoke;
    border: 1px solid black;
}

main .blog-content span{
    display: block;
}

/*----------x---Blog content-----------x---*/

/*-----x--------main content------x--------*/